{% extends "base.html" %}

{% block title %}WebFabric - Fabfile Creation{% endblock %}

{% block stylesheet %}
	<link type="text/css" rel="stylesheet" href="/media/css/shCore.css" />
	<link type="text/css" rel="stylesheet" href="/media/css/shThemeDefault.css" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/media/js/shCore.js"></script>
	<script type="text/javascript" src="/media/js/shBrushPython.js"></script>
	<script type="text/javascript">
		SyntaxHighlighter.all();
	</script>
{% endblock %}

{% block content %}
    <!-- Insert your content here -->
    {% if error %}
    	<h2><font color="red">Task {{ error }} already exists!!!</font></h2></br>
    {% endif %}
    
    {% if form %}
	<form action="/project/{{ project_id }}/fabfile/save" method="POST">
    <h2>Fabfile Creation : <font color="red">{{ project }}</font> <input type="submit" value="save"> <input type="button" value="view fabfile" onClick="window.open('/project/{{ project_id }}/fabfile/view','fabfile')"></h2></br>
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="save">
		<input type="button" value="view fabfile" onClick="window.open('/project/{{ project_id }}/fabfile/view','fabfile')">
	</form>
    {% endif %}
    {% if fabfile %}
<pre class="brush: python">
{{ fabfile }}
</pre>
	{% endif %}
{% endblock %}
