{% extends "base.html" %}

{% block title %}WebFabric - Project Creation{% endblock %}


{% block content %}
    <!-- Insert your content here -->
    {% if error %}
    	<h2><font color="red">Project {{ error }} already exists!!!</font></h2></br>
    {% endif %}
    
    {% if form %}
    <h2>Project Creation</h2></br>
	<form action="/project/" method="POST">
		<table>
			{{ form.as_table }}
		</table>
		<p><input type="submit" value="Submit"></p>
	</form>
    {% endif %}
    {% if form_configuration %}
        </hr>
        <h2>Project Configuration : <font color="red">{{ project }}</font></h2></br>
	<form action="/project/save/" method="POST">
		<table>
			{{ form_configuration.as_table }}
		</table>
		<input type="submit" value="save">
		<input type="button" value="Add Stage" onclick="new Ajax.Updater('divStage',
		'/project/{{ project_id }}/stage', {asynchronous:true, method : 'get', parameters:{}}); return false;"> <div id="loading" style="display:none"><img src="/media/images/spinner.gif"/></div>
	</form>
	<div id="divStage"></div>
    {% endif %}

{% endblock %}
