<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>WebFabric</title>
    <script src="/media/js/prototype.js" type="text/javascript"></script>
    <script src="/media/js/scriptaculous.js" type="text/javascript"></script>
    <script src="/media/js/application.js" type="text/javascript"></script>
    <link href="/media/css/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Insert your content here -->
    <h1>action : {{ action }}</h1>
    {% if form %}
    <h1>Project Creation</h1>
	<form action="." method="POST">
		<table>
			{{ form.as_table }}
		</table>
		<p><input type="submit" value="Submit"></p>
	</form>
	{% endif %}	
</body>
</html>