{% extends "base.html" %}

{% block title %}WebFabric - Project Creation{% endblock %}


{% block content %}
    <!-- Insert your content here -->
    <h1>action : {{ action }}</h1>
    {% if error %}
    	<h2><font color="red">Project {{ error }} already exists!!!</font></h2></br>
    {% endif %}
    
    {% if form %}
    <h2>Project Creation</h2></br>
	<form action="." method="POST">
		<table>
			{{ form.as_table }}
		</table>
		<p><input type="submit" value="Submit"></p>
	</form>
    {% endif %}
    {% if form_configuration %}
        </hr>
        <h2>Project Configuration</h2></br>
	<form action="." method="POST">
		<table>
			{{ form_configuration.as_table }}
		</table>
		<p><input type="submit" value="Submit"></p>
	</form>
    {% endif %}

{% endblock %}
