{% extends "base.html" %}

{% block title %}WebFabric - Project Management{% endblock %}

{% block stylesheet %}
	<link type="text/css" rel="stylesheet" href="/media/css/shCore.css" />
	<link type="text/css" rel="stylesheet" href="/media/css/shThemeDefault.css" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/media/js/shCore.js"></script>
	<script type="text/javascript" src="/media/js/shBrushPython.js"></script>
	<script type="text/javascript" src="/media/js/shBrushBash.js"></script>
	<script type="text/javascript">
		SyntaxHighlighter.all();
	</script>
{% endblock %}

{% block content %}
    <!-- Insert your content here -->
    
    {% if form %}
    <h2>Project Management : <font color="red">{{ project }}</font> <input type="button" value="view fabfile" onClick="window.open('/project/{{ project_id }}/fabfile/view','fabfile')"></h2></br>
	<form action="/project/{{ project_id }}/manage/" method="POST">
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="go!">
		<input type="button" value="view fabfile" onClick="window.open('/project/{{ project_id }}/fabfile/view','fabfile')">
		<input type="button" value="go Ajax!" onclick="new Ajax.Updater('divOutput',
		'/project/{{ project_id }}/manage/', {asynchronous:true, parameters:'stage='+
		document.getElementById ('id_stage').value}); return false;">
	</form>
	<div id="divOutput"></div>
    {% endif %}
    {% if output %}
		<br>
		<hr>
		<h2>status code: {{ status }}</h2>
<pre class="brush: bash">
{{ output }}
</pre>
    {% endif %}
{% endblock %}
