{% extends "base.html" %}

{% block title %}WebFabric - Tasks Creation{% endblock %}

{% block stylesheet %}
	<link type="text/css" rel="stylesheet" href="/media/css/shCore.css" />
	<link type="text/css" rel="stylesheet" href="/media/css/shThemeDefault.css" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/media/js/shCore.js"></script>
	<script type="text/javascript" src="/media/js/shBrushPython.js"></script>
	<script type="text/javascript">
		SyntaxHighlighter.all();
	</script>
{% endblock %}

{% block content %}
    <!-- Insert your content here -->
    {% if error %}
    	<h2><font color="red">Task {{ error }} already exists!!!</font></h2></br>
    {% endif %}
    
    {% if form %}
    <h2>Task Creation : <font color="red">{{ project }}</font></h2></br>
	<form action="/project/{{ project_id }}/tasks/save" method="POST">
		<table>
			{{ form.as_table }}
		</table>
		<p><input type="submit" value="Submit"></p>
	</form>
    {% endif %}
    <pre class="brush: python">
		import os
		import shutil
		import datetime

		#CONFIGS
		config.application = 'publicacao-admin'
		config.tag = ''
		config.clone_name = ''

		if len(config.tag) == 0:
		  config.tag = 'master'

		if len(config.clone_name) == 0:
		  config.clone_name = 'mainline'

		config.checkout_dir =  "/tmp/%s_checkedout/%s" % (config.application, config.tag)
		config.repository = "git://git.globoi.com/%s/%s.git" % (config.application, config.clone_name)

		config.deploy_to = '/usr/local/glbdjango'
		config.appdjango = 'admin'
		config.time = datetime.datetime.now().strftime("%Y%m%d%H%M%S")
		config.current_path = '%s/%s' % (config.deploy_to, config.appdjango)
		config.release_path = '%s/releases/%s/%s' % (config.deploy_to, config.appdjango, config.time)
		config.shared_path = '%s/shared/%s' % (config.deploy_to, config.appdjango)
		config.filename = '/tmp/%s.tar.gz' % config.time
		config.releases_days_to_keep = '4'
	
	</pre>
    {% if stage %}
	</hr>
	<h2><font color="red">Stage {{ stage }} for project {{ project_name }} created</font></h2></br>
    {% endif %}
    {% if table %}
        </hr>
		<h2>Tasks list</h2>
	    <table>
	    <tr>
	        {% for column in table.columns %}
			<th>{{ column|lower }}</th>
	        <!--th><a href="?sort={{ column.name }}">{{ column|lower  }}</a></th-->
	        {% endfor %}
	    </tr>
	    {% for row in table.rows %}
	        <tr>
	        {% for value in row %}
	            <td>{{ value }}</td>
	        {% endfor %}
	        </tr>
	    {% endfor %}
	    </table>
	
    {% endif %}

{% endblock %}
